// 自定义全局scss 变量设置

// border-radis 配置
$minBrs : 0;
$maxBrs : 300;
$brsList : 100,
120;

// 配置颜色
$color-list:((0, #fff),
  (1, #333),
  (2, #666),
  (3, #999),
  (4, #fb685d),
  (5, #12C286),
  (6, #E5E5E7),
);

// 配置flex
$minFlex : 0;
$maxFlex : 10;

// 配置字体大小
$minFontSize : 0;
$maxFontSize : 100;
$fontSizeList: 200,
400,
600,
800,
1000,
1200;

// 配置宽高
$minHeightWidth : 0;
$maxHeightWidth : 3000;
$heightWidthList : 320,
340,
360,
380,
400,
500,
600,
700,
800,
900,
1000,
1100,
1200,
1400,
1600,
1800;

// 配置间距
$minMarginPadding : 0;
$maxMarginPadding : 60;
$marginPaddingList : 80,
100,
120,
140,
160;

// 配置距离
$minPosition : 0;
$maxPosition : 100;
$positionList : 120,
140,
160,
180,
200;
